@tailwind base;
@tailwind components;
@tailwind utilities;

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

i {
  position: absolute;
  top: 60%;
  right: 5%;
}
i:hover {
  color: #00fcb6;
  cursor: pointer;
}

.drawer-side a {
  background-color: transparent;
  font-size: medium;
}